node_modules/**
!node_modules/sharp/**
!node_modules/@img/sharp-win32-x64/**
!node_modules/@img/colour/**
.vscode-test/**
*.vsix
.git/**
.gitignore
tsconfig.json
esbuild.mjs
*.ts
!*.d.ts
src/**
cpp/**
out/**
test/**
.github/**
ARCHITECTURE.md
DEVELOPMENT.md
CHANGELOG.md
.eslintrc.json
**/*.map
